.btn {
  font-weight:normal;
  @apply capitalize;
  @apply no-animation;
  border: 1px solid theme('colors.border1');
  font-size: theme('fontSize.base');
  line-height: theme('lineHeight.normal');
  background: theme(colors.actionSecondaryBackground);
  color: theme(colors.actionSecondaryText);
  padding: 0.25rem 0.5rem;
  height:auto;
  min-height:0;

  &:focus {
    outline: 1px solid theme(colors.blueBorder);
    outline-offset: theme(outlineOffset.1);
  }

  &:hover {
    background: theme(colors.actionSecondaryBackgroundHover);
    color: theme(colors.actionSecondaryTextHover);
    border: 1px solid theme('colors.border1');
  }

  &.btn-disabled {
    background: theme(colors.backgroundInactive);
    color: theme(colors.textInactive);
    border: 1px solid theme('colors.border1');
  }

  &.btn-primary {
    background: theme(colors.actionPrimaryBackground);
    border: 1px solid theme('colors.border1');
    color: theme("colors.actionPrimaryText");

    &:hover {
      background: theme(colors.actionPrimaryBackgroundHover);
      color: theme("colors.actionPrimaryTextHover");
    }

    &.btn-disabled {
      background: theme(colors.backgroundInactive);
      color: theme(colors.textInactive);
      border: 1px solid theme('colors.border1');
    }
  }



  &.btn-error {
    background: theme(colors.redBackground);
    border: 1px solid theme('colors.border1');
    color: theme("colors.actionPrimaryText");

    &:hover {
      background: theme(colors.redBackgroundHover);
      color: theme("colors.actionPrimaryTextHover");
    }

    &.btn-disabled {
      background: theme(colors.backgroundInactive);
      color: theme(colors.textInactive);
      border: 1px solid theme('colors.border1');
    }
  }

  &.btn-outline {
    background: transparent;
    color: theme("colors.text1");
    border: 1px solid theme('colors.border4');
  
    &:hover {
      background: theme(colors.background2);
    }

    &.btn-disabled {
      opacity:0.4;
    }
  }

  &.btn-ghost {
    background: transparent;
    color: theme("colors.text1");
    border: none;
  
    &:hover {
      background: theme(colors.background2);
    }

    &.btn-disabled {
      opacity:0.4;
    }
  }

  &.btn-square {
    width:1.5rem;
    height:1.5rem;
    padding:0;
  }
}


.btn-sm {
  height:auto;
  min-height:0;
}

.btn > .iconify {
  width:1rem;
  height:1rem;
}

h1,h2 {
  @apply text-xl;
  font-weight: theme(fontWeight.medium)
}